@font-face {
    font-family: dogica;
    src: url('./dogicapixel.ttf');
    font-weight:400;
    font-weight:normal;
}

body {
    margin: 0;
}

canvas {
    display: block;
    margin: 0;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}